body{
    margin: 0px;
}
.bg-gradient{
    width: 100%;
    background: radial-gradient(90vw circle at -15% -5%, #5B483A, #262425);
}
.bg-img{
    width: 100%;
    display:flex;
    justify-content: center;
    background-image: url(../../assets/images/bg-img.png);
}
.start-screen{
    width: 1280px;
}
.main{
    display: flex;
    justify-content: center;
}
.logo-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color:#F1CDB3;
    margin: 0px;
}
.logo-subtitle{
    color: #FFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93.8%;
    margin-top: 4.7%;
    height: 4.7%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 37%;
}
a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6%;
}
.start-screen-puppy{
    background: url(../../assets/images/start-screen-puppy.png) no-repeat;
    background-size:contain;
    width: 60%;
    height: 728px;
}
.start-screen-content{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 93.8%;
    margin:3.7% 0% 0% 3.3%;
}
.content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}
.heading{
    width: 70%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0px;
    cursor:default;
}
.subheading{
    width: 98%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
    margin:42px 0px;
    cursor:default;
}
.button-primary{
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 17.5px 0px;
}
.about{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
    text-decoration:solid underline #F1CDB3 3px;
    text-underline-offset: 7px;
}
.about-page{
    background: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}
.about-pets{
    background:url(../../assets/images/about-pets.png) no-repeat;
    width: 300px;
    height: 408px;
    margin-right: 10%;
}
.about-content{
    height: 69%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6.3%;
    margin-bottom: 6%;
}
.about-heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin:14px 0px 12.5px 0px;
    cursor:default;
}
.about-subheading{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 12.5px 0px 18px 0px;
    cursor:default;
}
.page-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pets-page{
    background: #F6F6F6;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pets-content{
    display: flex;
    flex-direction: column;
}
.pets-heading{
    margin: auto;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 6.3%;
    cursor:default;
}
.other-page{
    text-align: center;
    border: none;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
}
.rest-link{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 0px;
}
.button-rest{
    display: flex;
    justify-content: center;
    margin-bottom: 7.85%;
}
.card{
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}
img{
    width: 100%;
    height: 62%;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82.5%;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;

}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93.8%;
    margin: auto;
    margin-top: 4.7%;
    margin-bottom: 4.7%;
}
.left-button,.right-button{
    width: 52px;
    height: 52px;
    font-size: 17px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #F6F6F6;
}
.right-button-flex,.left-button-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-learn-more{
    width: 187px;
    height: 52px; 
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.pet-name{
    margin: 30px 0px;
}
.help-page{
    background: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
}
.help-heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 80px;
    margin-bottom: 60px;
    cursor:default;
}
.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 93.8%;
    padding: 0px;
}
li{
    list-style-type: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin:0% 4.7% 0% 4.7%;
    cursor:default;
}
.icons{
    width: 60px;
    height: 60px;
}
.second-row{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 4.4% 0% 8% 0%;
}
.donation-page{
    background: #F6F6F6;
    width: 100%;
    display: flex;
    justify-content: center;
}
.donation-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.2%;
    margin-bottom: 9.4%;
}
.donation-dog{
    background: url(../../assets/images/donation-dog.png) no-repeat;
    width: 505px;
    height: 261px;
    display: flex;
    margin-top: 3.4%;
    margin-right: 30px;
}
.donation-heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 5px;
    cursor:default;
}
.donation-subheading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
    cursor:default;
}
.legal-information{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor:default;
}
.card-icon{
    background: url(../../assets/icons/credit-card.svg);
    width: 30px;
    height: 24px;
    margin-right: 15px;
}
.credit-card{
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    border: #F1CDB3;
}
.credit-link{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}
/* .////////////////////////////////////////////////////////////// */
.footer{
    display: flex;
    background:radial-gradient(90vw circle at 0% 0%, #5B483A, #262425);
    width: 100%;
}
.footer-bg-img{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/bg-img.png);
}
.footer-content{
    display:flex;
    flex-direction: row;
    margin: 0% 3.2%;
}
.footer-dog{
    width: 300px;
    height: 310px;
    background: url(../../assets/images/footer-puppy.png) no-repeat;
    background-size: contain;
    margin-top: 40px;
}
.contacts-heading,.location-heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 0%;
    cursor:default;
}
.location-heading{
    margin-top: 20%;
}
.contacts-heading{
    margin-top: 22%;
}
.email,.number,.location-boston,.location-london{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 14.5%;
    margin-right: 0%;
}
.number,.location-london{
    margin-bottom: 10%;
}
.email-icon{
    background: url(../../assets/icons/icon-email.svg);
    width: 40px;
    height: 32px;
    margin-right: 7.5%;
}
.number-icon{
    background: url(../../assets/icons/icon-phone.svg);
    width: 40px;
    height: 32px;
    margin-right: 7.5%;
}
.location-icon{
    background: url(../../assets/icons/icon-marker.svg);
    width: 22px;
    height: 32px;
    margin-right: 7.5%;
}
.locations{
    width: 25.5%;
}
.contacts{
    width: 23.5%;
}
.locations,.contacts{
    margin-right: 13.35%;
}
.location-boston{
    margin:34px 0% 32px 0%;
}
.location-london{
    margin-top: 32px;
}
/* ///////////////////////////interactive buttons///////////////////////////////// */
.our-pets:hover,.help-the-shelter:hover,.nav-contacts:hover{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
    text-decoration:solid underline #F1CDB3 3px;
    text-underline-offset: 7px;
}
.logo:hover{
    cursor: pointer;
}
.button-primary:hover{
    background-color:#9b8474 ;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.247);
}
.left-button:hover,.right-button:hover{
    cursor: pointer;
    background-color:#ececec ;
    border-color: #a57e62;
    box-shadow:2px 1px #26242515;
}
.card:hover{
    cursor: pointer;
}
.card:hover button{
    cursor: pointer;
    box-shadow: 0px 4px 2px #a57e62;
    background-color: #F1CDB3;
}
.button-learn-more:hover{
    cursor: pointer;
    background-color:#F1CDB3 ;
    border-color: #916e56;
}
.other-page:hover{
    background-color:#ac9280;
    cursor: pointer;
    box-shadow: 2px 2px 1px #61616138;
}
.credit-card:hover{
    background-color:#ac9280;
    cursor: pointer;
    box-shadow: 3px 3px 2px #61616138;
    color: black;
}