body{
    margin: 0px;
}
.start-screen{
    width: 1280px;
}
.main{
    display: flex;
    justify-content: center;
}
.logo-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0px;
}
.logo-subtitle{
    color: #292929;;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93.8%;
    margin: 2.4% 0% 2.4% 0%;
    height: 4.7%;
}
.menu{
    display: flex;
    width: 445px;
}
.dark-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 445px;
}
a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6%;
}
.bg-color{
    width: 100%;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
}
.pets-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 100%;
    margin: 6.4% 0px 45px 0px;
}
.card{
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    margin: 15px 0px;
}
img{
    width: 100%;
    height: 62%;
}
.cards{
    width: 93.8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    flex-wrap: wrap;
}
.button-learn-more{
    width: 187px;
    height: 52px; 
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.pet-name{
    margin: 30px 0px;
}
.card:hover button{
    cursor: pointer;
    box-shadow: 0px 4px 2px #a57e62;
    background-color: #F1CDB3;
}
.card:hover{
    cursor: pointer;
}
.logo2{
    position: absolute;
    z-index: -1;
}
#menu__toggle{
    position: absolute;
    z-index: -1;
}
.hamburger-menu{
    display: flex;
    align-items: center;
}
.button-learn-more:hover{
    cursor: pointer;
    background-color:#F1CDB3 ;
    border-color: #916e56;
}
.about:hover,.help-the-shelter:hover,.nav-contacts:hover{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
    text-decoration:solid underline #F1CDB3 3px;
    text-underline-offset: 7px;
}
.our-pets{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
    text-decoration:solid underline #F1CDB3 3px;
    text-underline-offset: 7px;
}
.button{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #F6F6F6;
    font-family: 'Georgia';
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 30px 10px 7.8% 10px;
}
.current-page{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #292929;
    margin: 30px 10px;
}
.button-disabled{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin: 30px 10px 7.8% 10px;
}
.navigation{
    display: flex;
    justify-content: center;
}
.button:hover{
    border-color:#a57e62;
    background-color:#F1CDB3;
    cursor: pointer;
}
.footer{
    display: flex;
    background:radial-gradient(90vw circle at 0% 0%, #5B483A, #262425);
    width: 100%;
}
.footer-bg-img{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/bg-img.png);
}
.footer-content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0% 3.2%;
}
.footer-dog{
    width: 300px;
    height: 310px;
    background: url(../../assets/images/footer-puppy.png) no-repeat;
    background-size: contain;
    margin-top: 40px;
}
.contacts-heading,.location-heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 0%;
    cursor:default;
}
.location-heading{
    margin-top: 20%;
}
.contacts-heading{
    margin-top: 22%;
}
.email,.number,.location-boston,.location-london{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 14.5%;
    margin-right: 0%;
}
.number,.location-london{
    margin-bottom: 10%;
}
.email-icon{
    background: url(../../assets/icons/icon-email.svg);
    width: 40px;
    height: 32px;
    margin-right: 7.5%;
}
.number-icon{
    background: url(../../assets/icons/icon-phone.svg);
    width: 40px;
    height: 32px;
    margin-right: 7.5%;
}
.location-icon{
    background: url(../../assets/icons/icon-marker.svg);
    width: 22px;
    height: 32px;
    margin-right: 7.5%;
}
.locations{
    width: 302px;
}
.contacts{
    width: 288px;
}
.locations,.contacts{
    margin-right: 10%;
}
.location-boston{
    margin:34px 0% 32px 0%;
}
.location-london{
    margin-top: 32px;
}

@media (max-width:768px) {
    header{
        width: 708px;
        height: 60px;
    }
}
@media (max-width:1280px){
    .footer-content{
        justify-content: center;
    }
    .locations{
        margin-right: 0%;
    }
    .contacts{
        margin-right: 10%;
    }
}
@media(max-width:1000px) {
    .resp{
        position: absolute;
        z-index: -1;
    }
    .cards{
        justify-content: space-around;
    }
}
@media (max-width:768px) {
    header{
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin-top: 4.7%;
    }
    .content{
        width: 300px;
    }
    .about-pets{
        width: 260px;
        height: 353.6px;
        background-size: contain;
    }
    .start-screen-puppy{
        width:260px ;
        height:272px;
        margin: 64px 0px 0px 89px;
    }
    #menu__toggle {
        opacity: 0;
      }
      .menu__btn {
        position: relative;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 6;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #545454;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 0;
        z-index: 5;
        width:100%;
        height: 100vh;
        margin: 0;
        padding-left: 10px;
        background: rgba(41, 41, 41, 0.6);
        transition-duration: .25s;
      }
      .dark-screen{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        z-index: 5;
        top: 0;
        right: 0;
        width: 310px;
        height: 823px;
        margin: 0;
        padding-left: 10px;
        background-color: #FAFAFA;
        transition-duration: .25s;
      }
      .our-pets,.help-the-shelter,.about,.nav-contacts {
        display: block;
        color: #545454;
        font-family:Arial;
        font-size: 32px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
      }
      .our-pets:hover,.help-the-shelter:hover,.nav-contacts:hover,.about:hover{
        font-size: 32px;
    }
      .logo2{
        z-index: 1;
        top: 10px;
      }
    .donation-dog{
        width:260px;
        height: 135px;
        background-size: contain;
    }
    .resp2{
        position: absolute;
        z-index: -1;
    }
    .cards{
        justify-content: center;
    }
    .resp2{
        position: absolute;
        z-index: -1;
    }
    .logo-title2{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color:#545454;
        margin: 0px;
    }
    .logo-subtitle2{
        color: #292929;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
    }


}
@media(max-width:450px) {
    header{
        width: 257px;
        margin-right: 40px;
    }
    .legal-information{
        width: 280px;
    }
    .contacts-heading,.location-heading{
        font-size: 25px;
        text-align: center;
    }
    .contacts{
        margin: 0px;
    }
    .footer-dog{
        width: 260px;
        height: 269px;
        background-size: contain;
    }
    .footer-content{
        margin: 0px;
    }
    .button{
        margin-left: 5px;
        margin-right: 5px;
    }
    .current-page{
        margin-left: 5px;
        margin-right: 5px;
    }
    .button-disabled{
        margin-left: 5px;
        margin-right: 5px;
    }
    .heading{
        font-size: 25px;
        text-align: center;
        margin-top: 42px;
    }
}
.open-menu{
    right: 0;
}
.close-menu{
    right: 100%;
}
.menu-rotate{
    transform: rotate(90deg);
    transition-duration: .25s;
}